@import '../../../scss/_color.scss';

.container-fluid {
  height: 100%;
  padding: 0;
}

.body-wrapper {
  height: 100%;
}

.sidebar {
  background-color: $green-main;
  color: $white;
}

.body-content{
  padding: 20px;
}
