<ul class="vertical-sidebar">
  <li class="nav-item" [routerLinkActive]='["active"]' [routerLinkActiveOptions]='{ exact: true }'>
    <a [routerLink]='["/"]'><i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item" [routerLinkActive]='["active"]'>
    <a [routerLink]='["/counter"]'><i class="fas fa-globe"></i> Counter</a>
  </li>
  <li class="nav-item" [routerLinkActive]='["active"]'>
    <a [routerLink]='["/fetch-data"]'><i class="fas fa-database"></i> Fetch data</a>
  </li>
  <li class="nav-item" [routerLinkActive]='["active"]'>
    <a [routerLink]='["/employee-list"]'><i class="fas fa-users"></i> Employees</a>
  </li>
  <li class="nav-item" [routerLinkActive]='["active"]'>
    <a [routerLink]='["/employee-list-2"]'><i class="fas fa-users"></i> Employees Type 2</a>
  </li>
</ul>
