<h2>
  List of Employees
</h2>

<div class="row">
  <div class="col-6">
    <input [(ngModel)]="searchText" placeholder="Keyword search" />
  </div>
  <div class="col-6 text-right">
    <select [ngModel]="selDepartmentId" (ngModelChange)="updateDepartmentFilter($event)">
      <option value="0">-Filter by department-</option>
      <option *ngFor="let opt of departmentList" [ngValue]="opt.departmentId">{{opt.departmentName}}</option>
    </select>
  </div>
</div>

<p>Total result: {{filteredEmployeeList.length}}</p>

<div class="detail-list has-border" *ngIf="employeeList else empty">
  <div class="detail-row header">
    <div class="detail-col">No.</div>
    <div class="detail-col" (click)="sortby('name.first')">
      Name
      <i class="fas" *ngIf="sortKey=='name.first'" [ngClass]="{'fa-sort-up':reverse,'fa-sort-down':!reverse}"></i>
      <i class="fas fa-sort" *ngIf="sortKey!='name.first'"></i>
    </div>
    <div class="detail-col" (click)="sortby('age')">
      Age
      <i class="fas" *ngIf="sortKey=='age'" [ngClass]="{'fa-sort-up':reverse,'fa-sort-down':!reverse}"></i>
      <i class="fas fa-sort" *ngIf="sortKey!='age'"></i>
    </div>
    <div class="detail-col">Department</div>
    <div class="detail-col" (click)="sortby('nationality')">
      Nationality
      <i class="fas" *ngIf="sortKey=='nationality'" [ngClass]="{'fa-sort-up':reverse,'fa-sort-down':!reverse}"></i>
      <i class="fas fa-sort" *ngIf="sortKey!='nationality'"></i>
    </div>
    <div class="detail-col" (click)="sortby('salary')">
      Salary
      <i class="fas" *ngIf="sortKey=='salary'" [ngClass]="{'fa-sort-up':reverse,'fa-sort-down':!reverse}"></i>
      <i class="fas fa-sort" *ngIf="sortKey!='salary'"></i>
    </div>
    <div class="detail-col" (click)="sortby('registeredDate')">
      Registered Date
      <i class="fas" *ngIf="sortKey=='registeredDate'" [ngClass]="{'fa-sort-up':reverse,'fa-sort-down':!reverse}"></i>
      <i class="fas fa-sort" *ngIf="sortKey!='registeredDate'"></i>
    </div>
    <div class="detail-col" (click)="sortby('isAccountActive')">
      Status
      <i class="fas" *ngIf="sortKey=='isAccountActive'" [ngClass]="{'fa-sort-up':reverse,'fa-sort-down':!reverse}"></i>
      <i class="fas fa-sort" *ngIf="sortKey!='isAccountActive'"></i>
    </div>
  </div>
  <div class="detail-row" *ngFor="let employee of filteredEmployeeList | sortingEmployees: sortPath : reverse | filterByName : searchText; let i = index;">
    <div class="detail-col">{{i+1}}</div>
    <div class="detail-col">{{employee.name.first}}, {{employee.name.last}}</div>
    <div class="detail-col">{{employee.age}}</div>
    <div class="detail-col">{{getDepartmentName(employee.departmentId)}}</div>
    <div class="detail-col">{{employee.nationality}}</div>
    <div class="detail-col text-right">{{employee.salary | currency:'USD':'symbol':'1.2-2' }}</div>
    <div class="detail-col">{{employee.registeredDate | date: 'dd-MMM-yy'}}</div>
    <div class="detail-col">{{(employee.isAccountActive? 'Yes':'No') | uppercase }}</div>
  </div>
</div>

<ng-template #empty> No Employees </ng-template>
