<h2>
  List of Employees
</h2>

<p>
  <input [(ngModel)]="searchText" placeholder="Keyword search" />
</p>

<div class="detail-list has-border" *ngIf="employeeList else empty">
  <div class="detail-row header">
    <div class="detail-col">No.</div>
    <div class="detail-col">Name</div>
    <div class="detail-col">Age</div>
    <div class="detail-col">Department</div>
    <div class="detail-col">Nationality</div>
    <div class="detail-col">Registered Date</div>
    <div class="detail-col">Status</div>
  </div>
  <div class="detail-row" *ngFor="let employee of employeeList | filterByName : searchText; let i = index">
    <div class="detail-col">{{i+1}}</div>
    <div class="detail-col">{{employee.name.first}}, {{employee.name.last}}</div>
    <div class="detail-col">{{employee.age}}</div>
    <div class="detail-col">{{employee.departmentId}}</div>
    <div class="detail-col">{{employee.nationality}}</div>
    <div class="detail-col">{{employee.registeredDate | date: 'dd-MMM-yy'}}</div>
    <div class="detail-col">{{employee.isAccountActive? 'Yes':'No'}}</div>
  </div>
</div>

<ng-template #empty> No Customers Yet </ng-template>
