<h2>
  List of Employees (Observable + Async pipe)
</h2>

<div class="row">
  <div class="col-12 col-sm-6 form-group input-group">
    <input class="form-control" [(ngModel)]="searchKeyword" placeholder="Keyword search" />
    <div class="input-group-append">
      <button type="button" class="btn btn-sm btn-info" *ngIf="searchKeyword" (click)="clearKeyword()">Clear Search</button>
    </div>
  </div>
  <div class="col-12 col-sm-6 form-group">
    <select [(ngModel)]="selDepartmentId" class="form-control">
      <option value="0">All Departments</option>
      <option *ngFor="let opt of departmentList" [ngValue]="opt.departmentId">{{opt.departmentName}}</option>
    </select>
  </div>
</div>

<p>Total result: {{(employeesObservable$ | async)?.length}}</p>

<div class="detail-list has-border" *ngIf="employeesObservable$ else empty">
  <div class="detail-row header">
    <div class="detail-col">No.</div>
    <div class="detail-col" (click)="sortby('name.first')">
      Name <app-sorting-style1 [isSortBy]="sortKey=='name.first'" [isInDesc]="reverse"></app-sorting-style1>
    </div>
    <div class="detail-col" (click)="sortby('age')">
      Age <app-sorting-style1 [isSortBy]="sortKey=='age'" [isInDesc]="reverse"></app-sorting-style1>
    </div>
    <div class="detail-col">Department</div>
    <div class="detail-col" (click)="sortby('nationality')">
      Nationality <app-sorting-style1 [isSortBy]="sortKey=='nationality'" [isInDesc]="reverse"></app-sorting-style1>
    </div>
    <div class="detail-col" (click)="sortby('salary')">
      Salary <app-sorting-style1 [isSortBy]="sortKey=='salary'" [isInDesc]="reverse"></app-sorting-style1>
    </div>
    <div class="detail-col" (click)="sortby('registeredDate')">
      Registered Date <app-sorting-style1 [isSortBy]="sortKey=='registeredDate'" [isInDesc]="reverse"></app-sorting-style1>
    </div>
    <div class="detail-col" (click)="sortby('isAccountActive')">
      Status <app-sorting-style1 [isSortBy]="sortKey=='isAccountActive'" [isInDesc]="reverse"></app-sorting-style1>
    </div>
  </div>
  <div class="detail-row" *ngFor="let employee of employeesObservable$ | async; let i = index; ">
    <div class="detail-col">{{i+1}}</div>
    <div class="detail-col">{{employee.name.first}}, {{employee.name.last}}</div>
    <div class="detail-col">{{employee.age}}</div>
    <div class="detail-col">{{getDepartmentName(employee.departmentId)}}</div>
    <div class="detail-col">{{employee.nationality}}</div>
    <div class="detail-col text-right">{{employee.salary | currency:'USD':'symbol':'1.2-2' }}</div>
    <div class="detail-col">{{employee.registeredDate | date: 'dd-MMM-yy'}}</div>
    <div class="detail-col">{{(employee.isAccountActive? 'Yes':'No') | uppercase }}</div>
  </div>
</div>

<ng-template #empty> No Employees </ng-template>
